[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1
# Added by buildout at 2023-11-08 13:08:20.133869
createcoverage = 1.5

# Added by buildout at 2023-11-08 13:09:46.606140
collective.recipe.vscode = 0.1.9
